@charset "UTF-8";
.tittles {
  margin: 20px 0;
  font-weight: 400; }

.subtittles {
  margin: 20px 0;
  font-weight: 300; }

.cajas-texto-fondo, .textMas, .menuTitulo, .visitanosContainer .visitanos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.cajas-imagen-fondo, .heroMain, .verMas, .menuCabecera, .visitanosContainer, .cabeceraConocenos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.heroMain {
  background-image: url(../imagenes/heroback4.png);
  height: 90vh;
  margin: 80px 0 0 0; }

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10%; }

.mainTittle {
  padding-bottom: 10px 0;
  font-weight: 600;
  color: #f6f6f6; }

.mainText {
  color: #f6f6f6;
  font-weight: 400; }

.masVendidos {
  margin-top: 100px;
  margin-bottom: 50px; }

.d-block {
  border-radius: 15px; }

.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 30px 30px; }
  .productContainer a {
    display: flex;
    justify-content: center; }

.productText {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 100px 0 30px 0; }

.imageContainer {
  overflow: hidden;
  border-radius: 13px; }

.imageProduct {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .5s ease; }

.tittleProduct {
  margin: 20px 0;
  text-align: center; }

.textProduct {
  text-align: justify;
  padding: 0 30px;
  font-size: 18px;
  margin: 15px 0; }

.buttonContainer {
  overflow: visible; }
  .buttonContainer a {
    text-decoration: none; }

.loQuiero {
  margin: 20px 0; }

.verMas {
  background-image: url("../imagenes/pexels-nappy-936000mob.png");
  height: 800px;
  margin-top: 40px; }

.textMas h2 {
  color: #f6f6f6;
  margin: 30px 0; }

@media screen and (min-width: 320px) and (max-width: 599px) {
  /* --------------------------INDEX------------------------ */
  /* ESTILOS GENERALES */
  .bodyIndex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main" "footer"; }
  /*HERO SECTION*/
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .mainTittle {
    font-size: 32px;
    margin: 20px 0; }
  .mainSubtittle {
    font-size: 43px;
    margin: 10px 0; }
  .mainText {
    font-size: 25px;
    margin: 10px 0; }
  .mainButton {
    font-size: 15px;
    margin: 10px 0; }
  /* GENERALES MAS VENDIDOS */
  .masVendidosContainer {
    text-align: center; }
  .containerCarousel {
    margin-top: 40px; }
  .productP {
    font-size: 25px;
    margin: 20px 0; }
  .masTittle, .productTittle {
    font-size: 40px;
    margin: 10px 0; }
  .masSubtittle, .productSubtittle {
    font-size: 27px;
    margin: 30px 0; }
  .tittleMas {
    font-size: 60px;
    margin: 20px 0; } }

/* QUERY PARA TABLETAS PEQUEÑAS */
@media screen and (min-width: 600px) and (max-width: 767px) {
  /* ESTILOS GENERALES */
  .bodyIndex {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header" "main main" "footer footer"; }
  /*HERO SECTION*/
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .mainTittle {
    font-size: 45px;
    margin: 20px 0; }
  .mainSubtittle {
    font-size: 55px;
    margin: 10px 0; }
  .mainText {
    font-size: 35px;
    margin: 10px 0; }
  .mainButton {
    font-size: 25px;
    margin: 10px 0; }
  /* GENERALES MAS VENDIDOS */
  .masVendidosContainer {
    text-align: center; }
  .containerCarousel {
    margin-top: 40px; }
  .productP {
    font-size: 25px;
    margin: 20px 0; }
  .masTittle, .productTittle {
    font-size: 50px;
    margin: 10px 0; }
  .masSubtittle, .productSubtittle {
    font-size: 37px;
    margin: 30px 0; }
  .tittleMas {
    font-size: 60px;
    margin: 20px 0; } }

/* QUERY PARA TABLETAS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* ESTILOS GENERALES */
  .bodyIndex {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header" "main main" "footer footer"; }
  /*HERO SECTION*/
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .mainTittle {
    font-size: 55px;
    margin: 20px 0; }
  .mainSubtittle {
    font-size: 65px;
    margin: 10px 0; }
  .mainText {
    font-size: 45px;
    margin: 10px 0; }
  .mainButton {
    font-size: 25px;
    margin: 10px 0; }
  /* GENERALES MAS VENDIDOS */
  .masVendidosContainer {
    text-align: center; }
  .containerCarousel {
    margin-top: 40px; }
  .productP {
    font-size: 25px;
    margin: 20px 0; }
  .masTittle, .productTittle {
    font-size: 60px;
    margin: 10px 0; }
  .masSubtittle, .productSubtittle {
    font-size: 47px;
    margin: 30px 0; }
  .tittleMas {
    font-size: 60px;
    margin: 20px 0; } }

/* QUERY PARA NOTEBOOKS */
@media screen and (min-width: 1024px) and (max-width: 1999px) {
  /* ESTILOS GENERALES */
  .bodyIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header header" "main main main" "footer footer footer"; }
  /*HERO SECTION*/
  .mainTittle {
    font-size: 60px;
    margin: 20px 0; }
  .mainSubtittle {
    font-size: 70px;
    margin: 10px 0; }
  .mainText {
    font-size: 30px;
    margin: 10px 0; }
  .mainButton {
    font-size: 28px;
    margin: 10px 0; }
  .mainButton {
    font-size: 25px;
    margin: 10px 0; }
  /* PRODUCT SECTION */
  .imageProduct:hover {
    transform: scale(1.3); }
  .loQuiero:hover {
    transform: scale(1.2); }
  .masTittle, .productTittle {
    font-size: 60px;
    margin: 10px 0; }
  .masSubtittle, .productSubtittle {
    font-size: 47px;
    margin: 30px 0; }
  .textProduct {
    font-size: 18px;
    margin: 10px 0; }
  .tittleMas {
    font-size: 60px;
    margin: 20px 0; } }

/* QUERY PARA PANTALLAS GRANDES */
@media screen and (min-width: 1200px) {
  /* ESTILOS GENERALES */
  .bodyIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header header" "main main main" "footer footer footer"; }
  /*HERO SECTION*/
  .mainTittle {
    font-size: 60px;
    margin: 20px 0; }
  .mainSubtittle {
    font-size: 70px;
    margin: 10px 0; }
  .mainText {
    font-size: 30px;
    margin: 10px 0; }
  .mainButton {
    font-size: 28px;
    margin: 10px 0; }
  .mainButton {
    font-size: 25px;
    margin: 10px 0; }
  /* PRODUCT SECTION */
  .imageProduct:hover {
    transform: scale(1.3); }
  .loQuiero:hover {
    transform: scale(1.2); }
  .masTittle, .productTittle {
    font-size: 60px;
    margin: 10px 0; }
  .masSubtittle, .productSubtittle {
    font-size: 47px;
    margin: 30px 0; }
  .textProduct {
    font-size: 18px;
    margin: 10px 0; }
  .tittleMas {
    font-size: 60px;
    margin: 20px 0; } }

/* ESTILOS GENERALES NAV */
.logo {
  width: 70px; }

nav li {
  list-style: none; }

nav a {
  text-decoration: none;
  font-weight: 600;
  font-family: 'Montserrat'; }

.navbar-dark .navbar-nav .nav-link {
  color: #533e2d;
  padding: 15px; }

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2883, 62, 45, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-dark .navbar-toggler {
  border: 3px solid #533e2d;
  margin-right: 10px; }

/* QUERY PARA NOTEBOOKS */
@media screen and (min-width: 1024px) and (max-width: 1999px) {
  .navbar-dark .navbar-nav .nav-link:hover {
    background-color: #533e2d;
    color: #79d1cd;
    border-radius: 5px; } }

/* QUERY PARA PANTALLAS GRANDES */
@media screen and (min-width: 1200px) {
  .navbar-dark .navbar-nav .nav-link:hover {
    background-color: #533e2d;
    color: #79d1cd;
    border-radius: 5px; } }

.whatsapp {
  width: 60px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 10px 15px 0; }

.logoFooter {
  grid-area: logoFooter;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .logoFooter img {
    width: 90px;
    margin-left: 15%; }

.redesFooter {
  grid-area: redesFooter;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.bi {
  color: #533e2d; }

.redes {
  width: 40px; }

.navFooter {
  grid-area: navFooter;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.ulFooter {
  display: flex;
  align-items: flex-end;
  gap: 5px; }
  .ulFooter li {
    list-style: none; }
  .ulFooter a {
    text-decoration: none;
    color: #533e2d;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 600; }

.buttonFooter {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'Montserrat Alternates';
  font-size: 17px;
  color: #533e2d;
  grid-area: buttonFooter; }
  .buttonFooter a {
    text-decoration: none;
    color: #533e2d; }

/* QUERY PARA MOVILES */
@media screen and (min-width: 320px) and (max-width: 599px) {
  footer {
    padding: 0 15px;
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 200px 70px;
    grid-template-areas: "redesFooter redesFooter" "logoFooter navFooter" "buttonFooter buttonFooter"; }
  .ulFooter {
    flex-direction: column;
    align-items: flex-end; } }

/* QUERY PARA TABLETAS PEQUEÑAS */
@media screen and (min-width: 600px) and (max-width: 767px) {
  footer {
    padding: 0 15px;
    display: grid;
    height: auto;
    grid-template-columns: 20% 80%;
    grid-template-rows: 150px 200px 70px;
    grid-template-areas: "redesFooter redesFooter" "logoFooter navFooter" "buttonFooter buttonFooter"; }
  .ulFooter {
    gap: 20px; }
    .ulFooter li a {
      font-size: 17px; } }

/* QUERY PARA TABLETAS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  footer {
    padding: 0 15px;
    display: grid;
    height: auto;
    grid-template-columns: 20% 80%;
    grid-template-rows: 150px 200px 70px;
    grid-template-areas: "redesFooter redesFooter" "logoFooter navFooter" "buttonFooter buttonFooter"; }
  .ulFooter {
    gap: 20px; } }

/* QUERY PARA NOTEBOOKS */
@media screen and (min-width: 1024px) and (max-width: 1999px) {
  footer {
    padding: 0 15px;
    display: grid;
    height: auto;
    grid-template-columns: 20% 80%;
    grid-template-rows: 150px 200px 70px;
    grid-template-areas: "redesFooter redesFooter" "logoFooter navFooter" "buttonFooter buttonFooter"; }
  .ulFooter {
    gap: 30px; }
    .ulFooter li a:hover {
      color: #f6f6f6;
      transition: .2s; }
  .bi:hover {
    transform: scale(1.4);
    transition: .2s; } }

/* QUERY PARA PANTALLAS GRANDES */
@media screen and (min-width: 1200px) {
  footer {
    padding: 0 15px;
    display: grid;
    height: auto;
    grid-template-columns: 20% 80%;
    grid-template-rows: 150px 200px 70px;
    grid-template-areas: "redesFooter redesFooter" "logoFooter navFooter" "buttonFooter buttonFooter"; }
  .ulFooter {
    gap: 30px; }
    .ulFooter li a:hover {
      color: #f6f6f6;
      transition: .2s; }
  .bi:hover {
    transform: scale(1.4);
    transition: .2s; } }

.menuCabecera {
  background-image: url(../imagenes/heroback2.png);
  height: 400px;
  color: #f6f6f6;
  margin-top: 80px; }

.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 30px 30px; }
  .productContainer a {
    display: flex;
    justify-content: center; }

.imageContainer {
  overflow: hidden;
  border-radius: 13px; }

.imageProduct {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .5s ease; }

.tittleProduct {
  margin: 20px 0;
  text-align: center; }

.textProduct {
  text-align: justify;
  padding: 0 30px; }

.buttonContainer {
  overflow: visible; }
  .buttonContainer a {
    text-decoration: none; }

/* QUERY PARA MOVILES */
@media screen and (min-width: 320px) and (max-width: 599px) {
  .menuTitulo {
    font-size: 38px;
    margin: 20px 0; } }

/* QUERY PARA TABLETAS PEQUEÑAS */
@media screen and (min-width: 600px) and (max-width: 767px) {
  .menuTitulo {
    font-size: 45px;
    margin: 20px 0; } }

/* QUERY PARA TABLETAS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menuTitulo {
    font-size: 50px;
    margin: 20px 0; } }

/* QUERY PARA NOTEBOOKS */
@media screen and (min-width: 1024px) and (max-width: 1999px) {
  .menuTitulo {
    font-size: 60px;
    margin: 20px 0; } }

/* QUERY PARA PANTALLAS GRANDES */
@media screen and (min-width: 1200px) {
  .menuTitulo {
    font-size: 60px;
    margin: 20px 0; } }

.conocenosP {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
  grid-area: conocenosP; }

.conocenosImage1 {
  grid-area: conocenosImage1;
  display: flex;
  justify-content: center;
  align-items: center; }

.conocenosImage2 {
  grid-area: conocenosImage2;
  display: flex;
  justify-content: center;
  align-items: center; }

.visitanosContainer {
  background-image: url("../imagenes/heroback2.png");
  height: 500px;
  margin-top: 80px;
  color: #f6f6f6; }
  .visitanosContainer .visitanos h1 {
    margin: 30px; }

.cabeceraConocenos {
  background-image: url("../imagenes/conocenoscabecera.png");
  height: 400px;
  margin: 80px 0 30px 0; }
  .cabeceraConocenos h1 {
    color: #f6f6f6;
    text-align: center; }

/* QUERY PARA MOVILES */
@media screen and (min-width: 320px) and (max-width: 599px) {
  .conocenosGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "conocenosImage1" "conocenosP"  "conocenosP" "conocenosImage2"; }
  .cabeceraConocenos {
    height: 35vh; }
    .cabeceraConocenos h1 {
      font-size: 35px;
      margin: 10px; }
  .conocenosImg {
    width: 300px;
    border-radius: 10px;
    margin: 0px; }
  .conocenosP {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
    padding: 20px 20px; }
  .visitanos h1 {
    font-size: 35px;
    margin: 30px; } }

/* QUERY PARA TABLETAS PEQUEÑAS */
@media screen and (min-width: 600px) and (max-width: 767px) {
  .conocenosGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "conocenosImage1" "conocenosP"  "conocenosP" "conocenosImage2"; }
  .cabeceraConocenos {
    height: 35vh; }
    .cabeceraConocenos h1 {
      font-size: 45px;
      margin: 10px; }
  .conocenosImg {
    width: 400px;
    border-radius: 10px;
    margin: 0px; }
  .conocenosP {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
    padding: 40px 40px; }
  .visitanos h1 {
    font-size: 45px;
    margin: 30px; } }

/* QUERY PARA TABLETAS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .conocenosGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "conocenosImage1" "conocenosP"  "conocenosP" "conocenosImage2"; }
  .cabeceraConocenos {
    height: 35vh; }
    .cabeceraConocenos h1 {
      font-size: 45px;
      margin: 10px; }
  .conocenosImg {
    width: 480px;
    border-radius: 10px;
    margin: 0px; }
  .conocenosP {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
    padding: 50px 50px; }
  .visitanos h1 {
    font-size: 45px;
    margin: 30px; } }

/* QUERY PARA NOTEBOOKS */
@media screen and (min-width: 1024px) and (max-width: 1999px) {
  .conocenosGrid {
    height: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    grid-template-areas: "conocenosP conocenosImage1" "conocenosP conocenosImage2"; }
  .cabeceraConocenos {
    height: 45vh; }
    .cabeceraConocenos h1 {
      font-size: 55px;
      margin: 10px; }
  .conocenosImg {
    width: 480px;
    border-radius: 10px;
    margin: 40px 0; }
  .conocenosP {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
    padding: 50px 50px; }
  .visitanos h1 {
    font-size: 55px;
    margin: 30px; } }

/* QUERY PARA PANTALLAS GRANDES */
@media screen and (min-width: 1200px) {
  .conocenosGrid {
    height: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    grid-template-areas: "conocenosP conocenosImage1" "conocenosP conocenosImage2"; }
  .cabeceraConocenos {
    height: 400px; }
    .cabeceraConocenos h1 {
      font-size: 60px;
      margin: 10px; }
  .conocenosImg {
    width: 480px;
    border-radius: 10px;
    margin: 40px 0; }
  .conocenosP {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
    padding: 50px 50px; }
  .visitanos h1 {
    font-size: 60px;
    margin: 30px; } }

* {
  padding: 0;
  margin: 0; }

h1, h2, h3, p {
  font-family: "Rubik"; }

h2 {
  font-weight: 400; }

h3 {
  font-weight: 300; }

header {
  grid-area: header;
  background-color: #79d1cd;
  height: auto; }

body {
  background-color: #fff8f1; }

main {
  grid-area: main;
  height: auto; }

footer {
  grid-area: footer;
  background-color: #79d1cd; }

.btn {
  font-family: 'Montserrat';
  border-radius: 25px;
  background-color: #fff8f1;
  color: #533e2d;
  border: 3px solid #79d1cd;
  font-weight: 600;
  padding: 15px; }
  .btn:hover {
    background-color: #79d1cd;
    color: #533e2d;
    border: 3px solid #533e2d;
    transition: .2s; }
