@charset "UTF-8";
.heroMain {
  background-image: url(../imagenes/heroback4.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  margin: 80px 0 0 0; }

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10%; }

.mainTittle {
  padding-bottom: 10px 0;
  font-weight: 600;
  color: #f6f6f6; }

.mainSubtittle {
  color: #f6f6f6;
  font-weight: 600; }

.mainText {
  color: #f6f6f6;
  font-weight: 400; }

.masVendidos {
  margin-top: 100px;
  margin-bottom: 50px; }

.masTittle {
  font-size: 60px;
  margin: 20px 0;
  font-weight: 400; }

.masSubtittle {
  font-size: 30px;
  margin: 20px 0;
  font-weight: 300; }

.d-block {
  border-radius: 15px; }

.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 30px 30px; }
  .productContainer a {
    display: flex;
    justify-content: center; }

.productText {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 100px 0 30px 0; }

.productTittle {
  font-size: 60px; }

.productSubtittle {
  margin-top: 20px;
  font-size: 30px; }

.imageContainer {
  overflow: hidden;
  border-radius: 13px; }

.imageProduct {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .5s ease; }

.tittleProduct {
  margin: 20px 0;
  text-align: center; }

.textProduct {
  text-align: justify;
  padding: 0 30px; }

.buttonContainer {
  overflow: visible; }
  .buttonContainer a {
    text-decoration: none; }

.verMas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../imagenes/pexels-nappy-936000mob.png");
  height: 800px;
  margin-top: 40px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.textMas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .textMas h2 {
    color: #f6f6f6;
    font-size: 60px;
    margin: 30px 0; }

@media screen and (min-width: 320px) and (max-width: 599px) {
  /* --------------------------INDEX------------------------ */
  /* ESTILOS GENERALES */
  .bodyIndex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main" "footer"; }
  /*HERO SECTION*/
  .mainTittle {
    font-size: 30px; }
  .mainSubtittle {
    font-size: 40px; }
  .mainText {
    font-size: 25px; }
  .mainButton {
    font-size: 13px; }
  /* GENERALES MAS VENDIDOS */
  .masVendidosContainer {
    text-align: center; }
  .containerCarousel {
    margin-top: 40px; }
  .productP {
    font-size: 25px;
    margin: 20px 0; } }

/* QUERY PARA TABLETAS PEQUEÑAS */
@media screen and (min-width: 600px) and (max-width: 767px) {
  /* ESTILOS GENERALES */
  .bodyIndex {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header" "main main" "footer footer"; }
  /*HERO SECTION*/
  .mainTittle {
    font-size: 40px; }
  .mainSubtittle {
    font-size: 40px; }
  .mainText {
    font-size: 25px; }
  .mainButton {
    font-size: 14px; }
  /* GENERALES MAS VENDIDOS */
  .masVendidosContainer {
    text-align: center; }
  .containerCarousel {
    margin-top: 40px; }
  .productP {
    font-size: 25px;
    margin: 20px 0; } }

/* QUERY PARA TABLETAS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* ESTILOS GENERALES */
  .bodyIndex {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header" "main main" "footer footer"; }
  /*HERO SECTION*/
  .heroSection {
    height: 90vh; }
  .mainTittle {
    font-size: 45px; }
  .mainSubtittle {
    font-size: 50px; }
  .mainText {
    font-size: 30px; }
  .mainButton {
    font-size: 17px; }
  /* GENERALES MAS VENDIDOS */
  .masVendidosContainer {
    text-align: center; }
  .containerCarousel {
    margin-top: 40px; }
  .productP {
    font-size: 25px;
    margin: 20px 0; } }

/* QUERY PARA NOTEBOOKS */
@media screen and (min-width: 1024px) and (max-width: 1999px) {
  /* ESTILOS GENERALES */
  .bodyIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header header" "main main main" "footer footer footer"; }
  /*HERO SECTION*/
  .heroMain h1 {
    font-size: 60px; }
  .heroMain h2 {
    font-size: 70px; }
  .heroMain p {
    font-size: 25px; }
  .mainButton {
    font-size: 17px; }
  /* PRODUCT SECTION */
  .imageProduct:hover {
    transform: scale(1.3); }
  .loQuiero:hover {
    transform: scale(1.2); } }

/* QUERY PARA PANTALLAS GRANDES */
@media screen and (min-width: 1200px) {
  /* ESTILOS GENERALES */
  .bodyIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header header" "main main main" "footer footer footer"; }
  /*HERO SECTION*/
  .heroMain h1 {
    font-size: 60px; }
  .heroMain h2 {
    font-size: 70px; }
  .heroMain p {
    font-size: 25px; }
  .mainButton {
    font-size: 17px; }
  /* PRODUCT SECTION */
  .imageProduct:hover {
    transform: scale(1.3); }
  .loQuiero:hover {
    transform: scale(1.2); } }

/* ESTILOS GENERALES NAV */
.logo {
  width: 70px; }

nav li {
  list-style: none; }

nav a {
  text-decoration: none;
  font-weight: 600;
  font-family: 'Montserrat'; }

.navbar-dark .navbar-nav .nav-link {
  color: #533e2d;
  padding: 15px; }

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2883, 62, 45, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-dark .navbar-toggler {
  border: 3px solid #533e2d;
  margin-right: 10px; }

/* QUERY PARA NOTEBOOKS */
@media screen and (min-width: 1024px) and (max-width: 1999px) {
  .navbar-dark .navbar-nav .nav-link:hover {
    background-color: #533e2d;
    color: #79d1cd;
    border-radius: 5px; } }

/* QUERY PARA PANTALLAS GRANDES */
@media screen and (min-width: 1200px) {
  .navbar-dark .navbar-nav .nav-link:hover {
    background-color: #533e2d;
    color: #79d1cd;
    border-radius: 5px; } }

.whatsapp {
  width: 60px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 10px 15px 0; }

.logoFooter {
  grid-area: logoFooter;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .logoFooter img {
    width: 90px;
    margin-left: 15%; }

.redesFooter {
  grid-area: redesFooter;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.bi {
  color: #533e2d; }

.redes {
  width: 40px; }

.navFooter {
  grid-area: navFooter;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.ulFooter {
  display: flex;
  align-items: flex-end;
  gap: 5px; }
  .ulFooter li {
    list-style: none; }
  .ulFooter a {
    text-decoration: none;
    color: #533e2d;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 600; }

.buttonFooter {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'Montserrat Alternates';
  font-size: 17px;
  color: #533e2d;
  grid-area: buttonFooter; }
  .buttonFooter a {
    text-decoration: none;
    color: #533e2d; }

/* QUERY PARA MOVILES */
@media screen and (min-width: 320px) and (max-width: 599px) {
  footer {
    padding: 0 15px;
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 200px 70px;
    grid-template-areas: "redesFooter redesFooter" "logoFooter navFooter" "buttonFooter buttonFooter"; }
  .ulFooter {
    flex-direction: column;
    align-items: flex-end; } }

/* QUERY PARA TABLETAS PEQUEÑAS */
@media screen and (min-width: 600px) and (max-width: 767px) {
  footer {
    padding: 0 15px;
    display: grid;
    height: auto;
    grid-template-columns: 20% 80%;
    grid-template-rows: 150px 200px 70px;
    grid-template-areas: "redesFooter redesFooter" "logoFooter navFooter" "buttonFooter buttonFooter"; }
  .ulFooter {
    gap: 20px; }
    .ulFooter li a {
      font-size: 17px; } }

/* QUERY PARA TABLETAS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  footer {
    padding: 0 15px;
    display: grid;
    height: auto;
    grid-template-columns: 20% 80%;
    grid-template-rows: 150px 200px 70px;
    grid-template-areas: "redesFooter redesFooter" "logoFooter navFooter" "buttonFooter buttonFooter"; }
  .ulFooter {
    gap: 20px; } }

/* QUERY PARA NOTEBOOKS */
@media screen and (min-width: 1024px) and (max-width: 1999px) {
  footer {
    padding: 0 15px;
    display: grid;
    height: auto;
    grid-template-columns: 20% 80%;
    grid-template-rows: 150px 200px 70px;
    grid-template-areas: "redesFooter redesFooter" "logoFooter navFooter" "buttonFooter buttonFooter"; }
  .ulFooter {
    gap: 30px; }
    .ulFooter li a:hover {
      color: #f6f6f6;
      transition: .2s; }
  .bi:hover {
    transform: scale(1.4);
    transition: .2s; } }

/* QUERY PARA PANTALLAS GRANDES */
@media screen and (min-width: 1200px) {
  footer {
    padding: 0 15px;
    display: grid;
    height: auto;
    grid-template-columns: 20% 80%;
    grid-template-rows: 150px 200px 70px;
    grid-template-areas: "redesFooter redesFooter" "logoFooter navFooter" "buttonFooter buttonFooter"; }
  .ulFooter {
    gap: 30px; }
    .ulFooter li a:hover {
      color: #f6f6f6;
      transition: .2s; }
  .bi:hover {
    transform: scale(1.4);
    transition: .2s; } }

* {
  padding: 0;
  margin: 0; }

h1, h2, h3, p {
  font-family: "Rubik"; }

h2 {
  font-weight: 400; }

h3 {
  font-weight: 300; }

header {
  grid-area: header;
  background-color: #79d1cd;
  height: auto; }

body {
  background-color: #fff8f1; }

main {
  grid-area: main;
  height: auto; }

footer {
  grid-area: footer;
  background-color: #79d1cd; }

.btn {
  font-family: 'Montserrat';
  border-radius: 25px;
  background-color: #fff8f1;
  color: #533e2d;
  border: 3px solid #79d1cd;
  font-weight: 600;
  padding: 15px; }
  .btn:hover {
    background-color: #79d1cd;
    color: #533e2d;
    border: 3px solid #533e2d;
    transition: .2s; }
