@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

/* --------------------VARIABLES GENERALES------------------- */
h1, h2, h3, p {
  font-family: "Rubik"; }

h2 {
  font-weight: 400; }

h3 {
  font-weight: 300; }

.tittles {
  margin: 20px 0;
  font-weight: 400; }

.subtittles {
  margin: 20px 0;
  font-weight: 300; }

.cajas-texto-fondo, .textMas, .visitanosContainer .visitanos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.cajas-imagen-fondo, .heroMain, .verMas, .menuCabecera, .cabeceraConocenos, .visitanosContainer, .ubicacionesCabecera, .contactoCabecera {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.fondo-oscuro, .heroMain:before, .verMas:before, .menuCabecera:before, .cabeceraConocenos:before, .visitanosContainer:before, .ubicacionesCabecera:before, .contactoCabecera:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.titulo-fondo-oscuro, .textMas h2, .menuCabecera h1, .cabeceraConocenos h1, .visitanosContainer .visitanos h1, .ubicacionesCabecera h1, .contactoCabecera h1 {
  color: #f6f6f6;
  position: relative;
  text-align: center; }

/* -----------------------MIXIN GENERALES--------------------- */
/* -----------------VARIABLES CONOCENOS-------------------------- */
/* ---------------------------VARIABLES UBICACIONES-------------------------- */
.heroMain {
  background-image: url(../imagenes/hero0.svg);
  background-position: top;
  height: 90vh;
  margin: 80px 0 0 0; }

.mainContainer {
  position: relative;
  color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10%; }

.mainTittle {
  padding-bottom: 10px 0;
  font-weight: 600;
  color: #f6f6f6; }

.mainText {
  color: #f6f6f6;
  font-weight: 400; }

.masVendidos {
  margin-top: 100px;
  margin-bottom: 50px; }

.d-block {
  border-radius: 15px; }

.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 30px 30px; }
  .productContainer a {
    display: flex;
    justify-content: center; }

.productText {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 100px 0 30px 0; }

.imageContainer {
  overflow: hidden;
  border-radius: 13px; }

.imageProduct {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .5s ease; }

.tittleProduct {
  margin: 20px 0;
  text-align: center; }

.textProduct {
  text-align: justify;
  padding: 0 30px;
  font-size: 18px;
  margin: 15px 0; }

.buttonContainer {
  overflow: visible; }
  .buttonContainer a {
    text-decoration: none; }

.loQuiero {
  margin: 20px 0; }

.verMas {
  background-image: url("../imagenes/ver-mas-background.jpg");
  height: 600px;
  margin-top: 40px; }

.textMas button {
  position: relative; }

@media screen and (min-width: 320px) and (max-width: 599px) {
  /* ESTILOS GENERALES */
  .bodyIndex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main" "footer"; }
  /*HERO SECTION*/
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .mainTittle {
    font-size: 42px;
    margin: 20px 0; }
  .mainSubtittle {
    font-size: 43px;
    margin: 10px 0; }
  .mainText {
    font-size: 25px;
    margin: 10px 0; }
  .mainButton {
    font-size: 16px;
    margin: 10px 0; }
  /* GENERALES MAS VENDIDOS */
  .masVendidosContainer {
    text-align: center; }
  .containerCarousel {
    margin-top: 40px; }
  .productP {
    font-size: 25px;
    margin: 20px 0; }
  .masTittle, .productTittle {
    font-size: 40px;
    margin: 10px 0; }
  .masSubtittle, .productSubtittle {
    font-size: 27px;
    margin: 30px 0; }
  .tittleMas {
    font-size: 60px;
    margin: 20px 0; } }

/* QUERY PARA TABLETAS PEQUEÑAS */
@media screen and (min-width: 600px) and (max-width: 767px) {
  /* ESTILOS GENERALES */
  .bodyIndex {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header" "main main" "footer footer"; }
  /*HERO SECTION*/
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .mainTittle {
    font-size: 45px;
    margin: 20px 0; }
  .mainSubtittle {
    font-size: 55px;
    margin: 10px 0; }
  .mainText {
    font-size: 25px;
    margin: 10px 0; }
  .mainButton {
    font-size: 18px;
    margin: 10px 0; }
  /* GENERALES MAS VENDIDOS */
  .masVendidosContainer {
    text-align: center; }
  .containerCarousel {
    margin-top: 40px; }
  .productP {
    font-size: 25px;
    margin: 20px 0; }
  .masTittle, .productTittle {
    font-size: 50px;
    margin: 10px 0; }
  .masSubtittle, .productSubtittle {
    font-size: 37px;
    margin: 30px 0; }
  .tittleMas {
    font-size: 60px;
    margin: 20px 0; } }

/* QUERY PARA TABLETAS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* ESTILOS GENERALES */
  .bodyIndex {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header" "main main" "footer footer"; }
  /*HERO SECTION*/
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .mainTittle {
    font-size: 55px;
    margin: 20px 0; }
  .mainSubtittle {
    font-size: 65px;
    margin: 10px 0; }
  .mainText {
    font-size: 30px;
    margin: 10px 0; }
  .mainButton {
    font-size: 18px;
    margin: 10px 0; }
  /* GENERALES MAS VENDIDOS */
  .masVendidosContainer {
    text-align: center; }
  .containerCarousel {
    margin-top: 40px; }
  .productP {
    font-size: 25px;
    margin: 20px 0; }
  .masTittle, .productTittle {
    font-size: 60px;
    margin: 10px 0; }
  .masSubtittle, .productSubtittle {
    font-size: 47px;
    margin: 30px 0; }
  .tittleMas {
    font-size: 60px;
    margin: 20px 0; } }

/* QUERY PARA NOTEBOOKS */
@media screen and (min-width: 1024px) and (max-width: 1999px) {
  /* ESTILOS GENERALES */
  .bodyIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header header" "main main main" "footer footer footer"; }
  /*HERO SECTION*/
  .mainTittle {
    font-size: 60px;
    margin: 20px 0; }
  .mainSubtittle {
    font-size: 70px;
    margin: 10px 0; }
  .mainText {
    font-size: 30px;
    margin: 10px 0; }
  .mainButton {
    font-size: 28px;
    margin: 10px 0; }
  .mainButton {
    font-size: 18px;
    margin: 10px 0; }
  /* PRODUCT SECTION */
  .imageProduct:hover {
    transform: scale(1.3); }
  .loQuiero:hover {
    transform: scale(1.2); }
  .masTittle, .productTittle {
    font-size: 60px;
    margin: 10px 0; }
  .masSubtittle, .productSubtittle {
    font-size: 47px;
    margin: 30px 0; }
  .textProduct {
    font-size: 18px;
    margin: 10px 0; }
  .tittleMas {
    font-size: 60px;
    margin: 20px 0; } }

/* QUERY PARA PANTALLAS GRANDES */
@media screen and (min-width: 1200px) {
  /* ESTILOS GENERALES */
  .bodyIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header header" "main main main" "footer footer footer"; }
  /*HERO SECTION*/
  .mainTittle {
    font-size: 60px;
    margin: 20px 0; }
  .mainSubtittle {
    font-size: 70px;
    margin: 10px 0; }
  .mainText {
    font-size: 30px;
    margin: 10px 0; }
  .mainButton {
    font-size: 28px;
    margin: 10px 0; }
  .mainButton {
    font-size: 18px;
    margin: 10px 0; }
  /* PRODUCT SECTION */
  .imageProduct:hover {
    transform: scale(1.3); }
  .loQuiero:hover {
    transform: scale(1.2); }
  .masTittle, .productTittle {
    font-size: 60px;
    margin: 10px 0; }
  .masSubtittle, .productSubtittle {
    font-size: 47px;
    margin: 30px 0; }
  .textProduct {
    font-size: 18px;
    margin: 10px 0; }
  .tittleMas {
    font-size: 60px;
    margin: 20px 0; } }

/* ESTILOS GENERALES NAV */
.logo {
  width: 70px; }

nav li {
  list-style: none; }

nav a {
  text-decoration: none;
  font-weight: 600;
  font-family: 'Montserrat'; }

.navbar-dark .navbar-nav .nav-link {
  color: #533e2d;
  padding: 15px; }

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2883, 62, 45, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-dark .navbar-toggler {
  border: 3px solid #533e2d;
  margin-right: 10px; }

/* QUERY PARA NOTEBOOKS */
@media screen and (min-width: 1024px) and (max-width: 1999px) {
  .navbar-dark .navbar-nav .nav-link:hover {
    background-color: #533e2d;
    color: #79d1cd;
    border-radius: 5px; } }

/* QUERY PARA PANTALLAS GRANDES */
@media screen and (min-width: 1200px) {
  .navbar-dark .navbar-nav .nav-link:hover {
    background-color: #533e2d;
    color: #79d1cd;
    border-radius: 5px; } }

.logoFooter {
  grid-area: logoFooter;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .logoFooter img {
    width: 90px;
    margin-left: 15%; }

.redesFooter {
  grid-area: redesFooter;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.bi {
  color: #533e2d; }

.redes {
  width: 40px; }

.navFooter {
  grid-area: navFooter;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.ulFooter {
  display: flex;
  align-items: flex-end;
  gap: 5px; }
  .ulFooter li {
    list-style: none; }
  .ulFooter a {
    text-decoration: none;
    color: #533e2d;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 600; }

.buttonFooter {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'Montserrat Alternates';
  font-size: 17px;
  color: #533e2d;
  grid-area: buttonFooter; }
  .buttonFooter a {
    text-decoration: none;
    color: #533e2d; }

/* QUERY PARA MOVILES */
@media screen and (min-width: 320px) and (max-width: 599px) {
  footer {
    padding: 0 15px;
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 200px 70px;
    grid-template-areas: "redesFooter redesFooter" "logoFooter navFooter" "buttonFooter buttonFooter"; }
  .ulFooter {
    flex-direction: column;
    align-items: flex-end; } }

/* QUERY PARA TABLETAS PEQUEÑAS */
@media screen and (min-width: 600px) and (max-width: 767px) {
  footer {
    padding: 0 15px;
    display: grid;
    height: auto;
    grid-template-columns: 20% 80%;
    grid-template-rows: 150px 200px 70px;
    grid-template-areas: "redesFooter redesFooter" "logoFooter navFooter" "buttonFooter buttonFooter"; }
  .ulFooter {
    gap: 20px; }
    .ulFooter li a {
      font-size: 17px; } }

/* QUERY PARA TABLETAS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  footer {
    padding: 0 15px;
    display: grid;
    height: auto;
    grid-template-columns: 20% 80%;
    grid-template-rows: 150px 200px 70px;
    grid-template-areas: "redesFooter redesFooter" "logoFooter navFooter" "buttonFooter buttonFooter"; }
  .ulFooter {
    gap: 20px; } }

/* QUERY PARA NOTEBOOKS */
@media screen and (min-width: 1024px) and (max-width: 1999px) {
  footer {
    padding: 0 15px;
    display: grid;
    height: auto;
    grid-template-columns: 20% 80%;
    grid-template-rows: 150px 200px 70px;
    grid-template-areas: "redesFooter redesFooter" "logoFooter navFooter" "buttonFooter buttonFooter"; }
  .ulFooter {
    gap: 30px; }
    .ulFooter li a:hover {
      color: #f6f6f6;
      transition: .2s; }
  .bi:hover {
    transform: scale(1.4);
    transition: .2s; } }

/* QUERY PARA PANTALLAS GRANDES */
@media screen and (min-width: 1200px) {
  footer {
    padding: 0 15px;
    display: grid;
    height: auto;
    grid-template-columns: 20% 80%;
    grid-template-rows: 150px 200px 70px;
    grid-template-areas: "redesFooter redesFooter" "logoFooter navFooter" "buttonFooter buttonFooter"; }
  .ulFooter {
    gap: 30px; }
    .ulFooter li a:hover {
      color: #f6f6f6;
      transition: .2s; }
  .bi:hover {
    transform: scale(1.4);
    transition: .2s; } }

.menuCabecera {
  background-image: url(../imagenes/menu-head.jpg);
  margin-top: 80px; }

.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 30px 30px; }
  .productContainer a {
    display: flex;
    justify-content: center; }

.imageContainer {
  overflow: hidden;
  border-radius: 13px; }

.imageProduct {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .5s ease; }

.tittleProduct {
  margin: 20px 0;
  text-align: center; }

.textProduct {
  text-align: justify;
  padding: 0 30px; }

.buttonContainer {
  overflow: visible; }
  .buttonContainer a {
    text-decoration: none; }

/* QUERY PARA MOVILES */
@media screen and (min-width: 320px) and (max-width: 599px) {
  .menuCabecera {
    height: 200px; }
  .menuTitulo {
    font-size: 38px;
    margin: 20px 0; } }

/* QUERY PARA TABLETAS PEQUEÑAS */
@media screen and (min-width: 600px) and (max-width: 767px) {
  .menuCabecera {
    height: 200px; }
  .menuTitulo {
    font-size: 45px;
    margin: 20px 0; } }

/* QUERY PARA TABLETAS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menuCabecera {
    height: 300px; }
  .menuTitulo {
    font-size: 50px;
    margin: 20px 0; } }

/* QUERY PARA NOTEBOOKS */
@media screen and (min-width: 1024px) and (max-width: 1999px) {
  .menuCabecera {
    height: 400px; }
  .menuTitulo {
    font-size: 60px;
    margin: 20px 0; } }

/* QUERY PARA PANTALLAS GRANDES */
@media screen and (min-width: 1200px) {
  .menuCabecera {
    height: 400px; }
  .menuTitulo {
    font-size: 60px;
    margin: 20px 0; } }

.conocenosP {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;
  margin: 0 15px; }

.parrafo1 {
  grid-area: parrafo1; }

.parrafo2 {
  grid-area: parrafo2; }

.parrafo3 {
  grid-area: parrafo3; }

.conocenosImage1 {
  grid-area: conocenosImage1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.conocenosImage2 {
  grid-area: conocenosImage2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.conocenosImage3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: conocenosImage3; }

.conocenosImage4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: conocenosImage4; }

.cabeceraConocenos {
  background-image: url("../imagenes/conocenos-head.jpg");
  height: 400px;
  margin: 80px 0 30px 0; }

.visitanosContainer {
  background-image: url("../imagenes/visitanos.jpg");
  height: 600px;
  margin-top: 80px; }
  .visitanosContainer .visitanos h1 {
    margin: 30px; }
  .visitanosContainer .visitanos button {
    position: relative; }

/* QUERY PARA MOVILES */
@media screen and (min-width: 320px) and (max-width: 599px) {
  .conocenosGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "parrafo1" "conocenosImage1"  "parrafo2" "conocenosImage2" "parrafo3" "conocenosImage3" "conocenosImage4"; }
  .cabeceraConocenos {
    height: 200px; }
    .cabeceraConocenos h1 {
      font-size: 38px;
      margin: 20px 0; }
  .conocenosImg {
    width: 300px;
    border-radius: 10px;
    margin: 10px 0; }
  .conocenosDuenos {
    width: 98%;
    border-radius: 10px;
    margin: 50px 0; }
  .conocenosTitulo {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #533e2d;
    text-align: left;
    margin: 35px 0;
    font-size: 30px; }
  .conocenosP {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    margin: 0 15px;
    padding: 20px 20px; }
    .conocenosP p {
      font-size: 18px; }
  .conocenosImage4 {
    margin-top: 40px; }
  .visitanos h1 {
    font-size: 35px;
    margin: 30px; } }

/* QUERY PARA TABLETAS PEQUEÑAS */
@media screen and (min-width: 600px) and (max-width: 767px) {
  .conocenosGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "parrafo1" "conocenosImage1"  "parrafo2" "conocenosImage2" "parrafo3" "conocenosImage3" "conocenosImage4"; }
  .cabeceraConocenos {
    height: 200px; }
    .cabeceraConocenos h1 {
      font-size: 45px;
      margin: 20px 0; }
  .conocenosImg {
    width: 70%;
    border-radius: 10px;
    margin: 15px 0; }
  .conocenosDuenos {
    width: 98%;
    border-radius: 10px;
    margin: 50px 0; }
  .conocenosTitulo {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #533e2d;
    text-align: left;
    margin: 35px 0;
    font-size: 35px; }
  .conocenosP {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    margin: 0 15px;
    padding: 40px 40px; }
    .conocenosP p {
      font-size: 20px; }
  .conocenosImage4 {
    margin-top: 40px; }
  .visitanos h1 {
    font-size: 45px;
    margin: 30px; } }

/* QUERY PARA TABLETAS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .conocenosGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "parrafo1" "conocenosImage1"  "parrafo2" "conocenosImage2" "parrafo3" "conocenosImage3" "conocenosImage4"; }
  .cabeceraConocenos {
    height: 300px; }
    .cabeceraConocenos h1 {
      font-size: 50px;
      margin: 20px 0; }
  .conocenosImg {
    width: 75%;
    border-radius: 10px;
    margin: 15px 0; }
  .conocenosDuenos {
    width: 95%;
    border-radius: 10px;
    margin: 50px 0; }
  .conocenosTitulo {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #533e2d;
    text-align: left;
    margin: 35px 0;
    font-size: 38px; }
  .conocenosP {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    margin: 0 15px;
    padding: 40px 40px; }
    .conocenosP p {
      font-size: 20px; }
  .conocenosImage4 {
    margin-top: 40px; }
  .visitanos h1 {
    font-size: 45px;
    margin: 30px; } }

/* QUERY PARA NOTEBOOKS */
@media screen and (min-width: 1024px) and (max-width: 1999px) {
  .conocenosGrid {
    height: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "parrafo1 conocenosImage1" "parrafo2 conocenosImage2" "parrafo3 conocenosImage3" "conocenosImage4 conocenosImage4"; }
  .cabeceraConocenos {
    height: 400px; }
    .cabeceraConocenos h1 {
      font-size: 60px;
      margin: 20px 0; }
  .conocenosImg {
    width: 90%;
    border-radius: 10px;
    margin: 15px 0; }
  .conocenosDuenos {
    width: 75%;
    border-radius: 10px;
    margin: 50px 0; }
  .conocenosTitulo {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #533e2d;
    text-align: left;
    margin: 35px 0;
    font-size: 40px; }
  .conocenosP {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    margin: 0 15px;
    padding: 40px 40px; }
    .conocenosP p {
      font-size: 19px; }
  .conocenosImage4 {
    margin-top: 60px; }
  .visitanos h1 {
    font-size: 55px;
    margin: 30px; } }

/* QUERY PARA PANTALLAS GRANDES */
@media screen and (min-width: 1200px) {
  .conocenosGrid {
    height: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "parrafo1 conocenosImage1" "parrafo2 conocenosImage2" "parrafo3 conocenosImage3" "conocenosImage4 conocenosImage4"; }
  .cabeceraConocenos {
    height: 400px; }
    .cabeceraConocenos h1 {
      font-size: 60px;
      margin: 20px 0; }
  .conocenosImg {
    width: 90%;
    border-radius: 10px;
    margin: 15px 0; }
  .conocenosDuenos {
    width: 65%;
    border-radius: 10px;
    margin: 50px 0; }
  .conocenosTitulo {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #533e2d;
    text-align: left;
    margin: 35px 0;
    font-size: 40px; }
  .conocenosP {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    margin: 0 15px;
    padding: 40px 40px; }
    .conocenosP p {
      font-size: 19px; }
  .conocenosImage4 {
    margin-top: 60px; }
  .visitanos h1 {
    font-size: 60px;
    margin: 30px; } }

/* --------UBICACIONES GENERALES--------- */
.ubicacionesCabecera {
  background-image: url(../imagenes/ubicaciones-head.jpg);
  margin-top: 80px; }

.botonWhatsapp {
  background-color: #533e2d;
  color: #fff8f1;
  border-radius: 20px;
  font-weight: 600;
  padding: 13px;
  border: 3px solid #fff8f1; }
  .botonWhatsapp:hover {
    background-color: #79e079;
    color: #533e2d;
    transition: .2s; }

.sucursalNorte, .sucursalCentro, .sucursalSur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff8f1;
  background-size: cover; }

.sucursalTituloC {
  margin-left: 5%; }

.ubicacionesImagen1, .ubicacionesImagen2, .ubicacionesImagen3 {
  background-size: cover; }

.tabla1, .tabla2, .tabla3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #79d1cd;
  margin: 20px;
  height: 500px;
  border-radius: 10px; }
  .tabla1 table, .tabla2 table, .tabla3 table {
    color: #533e2d; }

.ubicacionesMapa1, .ubicacionesMapa2, .ubicacionesMapa3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 500px;
  border: 4px solid #533e2d;
  border-radius: 10px; }
  .ubicacionesMapa1 iframe, .ubicacionesMapa2 iframe, .ubicacionesMapa3 iframe {
    border-radius: 10px; }

.ubicacionesContainer {
  margin-bottom: 100px; }

.sucursalNorte {
  grid-area: sucursalNorte; }

.sucursalCentro {
  grid-area: sucursalCentro; }

.sucursalSur {
  grid-area: sucursalSur; }

.ubicacionesImagen1 {
  grid-area: ubicacionesImagen1; }

.ubicacionesImagen2 {
  grid-area: ubicacionesImagen2; }

.ubicacionesImagen3 {
  grid-area: ubicacionesImagen3; }

.tabla1 {
  grid-area: tabla1; }

.tabla2 {
  grid-area: tabla2; }

.tabla3 {
  grid-area: tabla3; }

.ubicacionesMapa1 {
  grid-area: ubicacionesMapa1; }

.ubicacionesMapa2 {
  grid-area: ubicacionesMapa2; }

.ubicacionesMapa3 {
  grid-area: ubicacionesMapa3; }

/* QUERY PARA MOVILES */
@media screen and (min-width: 320px) and (max-width: 599px) {
  .ubicacionesCabecera {
    height: 200px; }
  .ubicacionesTitulo {
    font-size: 38px;
    margin: 20px 0; }
  .ubicacionesGrid1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px auto auto;
    grid-template-areas: "sucursalNorte" "tabla1" "ubicacionesMapa1";
    margin-top: 1px;
    margin-bottom: 100px; }
  .sucursalNorte {
    position: relative;
    background-image: url(../imagenes/ubicaciones-img-1.jpg); }
    .sucursalNorte:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 480px;
      background-color: #161616c7;
      height: 400px; }
  .sucursalTituloC {
    position: relative; }
    .sucursalTituloC h2 {
      font-size: 45px; }
    .sucursalTituloC p {
      font-size: 18px; }
  .tabla1 h2 {
    margin: 10px 0;
    color: #533e2d;
    font-weight: 600; }
  .tabla1 table {
    width: 90%; }
  .tabla1 th {
    font-size: 20px;
    margin: 20px 0; }
  .tabla1 td {
    font-size: 17px;
    margin: 30px 0; }
  .ubicacionesGrid2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px auto auto;
    grid-template-areas: "sucursalCentro" "tabla2" "ubicacionesMapa2";
    margin-top: 45px;
    margin-bottom: 100px; }
  .sucursalCentro {
    position: relative;
    background-image: url(../imagenes/ubicaciones-img-2.jpg); }
    .sucursalCentro:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 480px;
      background-color: #161616c7;
      height: 400px; }
  .sucursalTituloC {
    position: relative; }
    .sucursalTituloC h2 {
      font-size: 45px; }
    .sucursalTituloC p {
      font-size: 18px; }
  .tabla2 h2 {
    margin: 10px 0;
    color: #533e2d;
    font-weight: 600; }
  .tabla2 table {
    width: 90%; }
  .tabla2 th {
    font-size: 23px;
    margin: 20px 0; }
  .tabla2 td {
    font-size: 20px;
    margin: 30px 0; }
  .ubicacionesGrid3 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px auto auto;
    grid-template-areas: "sucursalSur" "tabla3" "ubicacionesMapa3";
    margin-top: 45px;
    margin-bottom: 100px; }
  .sucursalSur {
    position: relative;
    background-image: url(../imagenes/ubicaciones-img-3.jpg); }
    .sucursalSur:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 480px;
      background-color: #161616c7;
      height: 400px; }
  .sucursalTituloC {
    position: relative; }
    .sucursalTituloC h2 {
      font-size: 45px; }
    .sucursalTituloC p {
      font-size: 18px; }
  .tabla3 h2 {
    margin: 10px 0;
    color: #533e2d;
    font-weight: 600; }
  .tabla3 table {
    width: 90%; }
  .tabla3 th {
    font-size: 23px;
    margin: 20px 0; }
  .tabla3 td {
    font-size: 20px;
    margin: 30px 0; } }

/* QUERY PARA TABLETAS PEQUEÑAS */
@media screen and (min-width: 600px) and (max-width: 767px) {
  .ubicacionesCabecera {
    height: 200px; }
  .ubicacionesTitulo {
    font-size: 45px;
    margin: 20px 0; }
  .ubicacionesGrid1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px auto auto;
    grid-template-areas: "sucursalNorte" "tabla1" "ubicacionesMapa1";
    margin-top: 1px;
    margin-bottom: 100px; }
  .sucursalNorte {
    position: relative;
    background-image: url(../imagenes/ubicaciones-img-1.jpg); }
    .sucursalNorte:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 480px;
      background-color: #161616c7;
      height: 400px; }
  .sucursalTituloC {
    position: relative; }
    .sucursalTituloC h2 {
      font-size: 45px; }
    .sucursalTituloC p {
      font-size: 18px; }
  .tabla1 h2 {
    margin: 10px 0;
    color: #533e2d;
    font-weight: 600; }
  .tabla1 table {
    width: 90%; }
  .tabla1 th {
    font-size: 23px;
    margin: 20px 0; }
  .tabla1 td {
    font-size: 20px;
    margin: 30px 0; }
  .ubicacionesGrid2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px auto auto;
    grid-template-areas: "sucursalCentro" "tabla2" "ubicacionesMapa2";
    margin-top: 45px;
    margin-bottom: 100px; }
  .sucursalCentro {
    position: relative;
    background-image: url(../imagenes/ubicaciones-img-2.jpg); }
    .sucursalCentro:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 480px;
      background-color: #161616c7;
      height: 400px; }
  .sucursalTituloC {
    position: relative; }
    .sucursalTituloC h2 {
      font-size: 45px; }
    .sucursalTituloC p {
      font-size: 18px; }
  .tabla2 h2 {
    margin: 10px 0;
    color: #533e2d;
    font-weight: 600; }
  .tabla2 table {
    width: 90%; }
  .tabla2 th {
    font-size: 23px;
    margin: 20px 0; }
  .tabla2 td {
    font-size: 20px;
    margin: 30px 0; }
  .ubicacionesGrid3 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px auto auto;
    grid-template-areas: "sucursalSur" "tabla3" "ubicacionesMapa3";
    margin-top: 45px;
    margin-bottom: 100px; }
  .sucursalSur {
    position: relative;
    background-image: url(../imagenes/ubicaciones-img-3.jpg); }
    .sucursalSur:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 480px;
      background-color: #161616c7;
      height: 400px; }
  .sucursalTituloC {
    position: relative; }
    .sucursalTituloC h2 {
      font-size: 45px; }
    .sucursalTituloC p {
      font-size: 18px; }
  .tabla3 h2 {
    margin: 10px 0;
    color: #533e2d;
    font-weight: 600; }
  .tabla3 table {
    width: 90%; }
  .tabla3 th {
    font-size: 23px;
    margin: 20px 0; }
  .tabla3 td {
    font-size: 20px;
    margin: 30px 0; } }

/* QUERY PARA TABLETAS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .ubicacionesCabecera {
    height: 200px; }
  .ubicacionesTitulo {
    font-size: 50px;
    margin: 20px 0; }
  .ubicacionesGrid1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px auto;
    grid-template-areas: "sucursalNorte ubicacionesImagen1" "tabla1 ubicacionesMapa1";
    margin-top: 1px;
    margin-bottom: 100px; }
  .sucursalNorte {
    background-color: #533e2d; }
  .sucursalTituloC h2 {
    font-size: 45px; }
  .sucursalTituloC p {
    font-size: 18px; }
  .ubicacionesImagen1 {
    background-image: url(../imagenes/ubicaciones-img-1.jpg);
    background-position: center; }
  .tabla1 h2 {
    margin: 10px 0;
    color: #533e2d;
    font-weight: 600; }
  .tabla1 table {
    width: 90%; }
  .tabla1 th {
    font-size: 20px;
    margin: 20px 0; }
  .tabla1 td {
    font-size: 17px;
    margin: 30px 0; }
  .ubicacionesGrid2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px auto;
    grid-template-areas: "sucursalCentro ubicacionesImagen2" "tabla2 ubicacionesMapa2";
    margin-top: 40px;
    margin-bottom: 100px; }
  .sucursalCentro {
    background-color: #533e2d; }
  .sucursalTituloC h2 {
    font-size: 45px; }
  .sucursalTituloC p {
    font-size: 18px; }
  .ubicacionesImagen2 {
    background-image: url(../imagenes/ubicaciones-img-2.jpg);
    background-position: center; }
  .tabla2 h2 {
    margin: 10px 0;
    color: #533e2d;
    font-weight: 600; }
  .tabla2 table {
    width: 90%; }
  .tabla2 th {
    font-size: 23px;
    margin: 20px 0; }
  .tabla2 td {
    font-size: 20px;
    margin: 30px 0; }
  .ubicacionesGrid3 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px auto;
    grid-template-areas: "sucursalSur ubicacionesImagen3" "tabla3 ubicacionesMapa3";
    margin-top: 40px;
    margin-bottom: 100px; }
  .sucursalSur {
    background-color: #533e2d; }
  .sucursalTituloC h2 {
    font-size: 45px; }
  .sucursalTituloC p {
    font-size: 18px; }
  .ubicacionesImagen3 {
    background-image: url(../imagenes/ubicaciones-img-3.jpg);
    background-position: center; }
  .tabla3 h2 {
    margin: 10px 0;
    color: #533e2d;
    font-weight: 600; }
  .tabla3 table {
    width: 90%; }
  .tabla3 th {
    font-size: 23px;
    margin: 20px 0; }
  .tabla3 td {
    font-size: 20px;
    margin: 30px 0; } }

/* QUERY PARA NOTEBOOKS */
@media screen and (min-width: 1024px) and (max-width: 1999px) {
  .ubicacionesCabecera {
    height: 400px; }
  .ubicacionesTitulo {
    font-size: 60px;
    margin: 20px 0; }
  .ubicacionesGrid1 {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 400px auto;
    grid-template-areas: "sucursalNorte ubicacionesImagen1" "tabla1 ubicacionesMapa1";
    margin-top: 3px;
    margin-bottom: 100px; }
  .sucursalNorte {
    background-color: #533e2d; }
  .sucursalTituloC h2 {
    font-size: 55px; }
  .sucursalTituloC p {
    font-size: 22px; }
  .ubicacionesImagen1 {
    background-image: url(../imagenes/ubicaciones-img-1.jpg);
    background-position: center; }
  .tabla1 h2 {
    margin: 10px 0;
    color: #533e2d;
    font-weight: 600; }
  .tabla1 table {
    width: 90%; }
  .tabla1 th {
    font-size: 20px;
    margin: 20px 0; }
  .tabla1 td {
    font-size: 17px;
    margin: 30px 0; }
  .ubicacionesGrid2 {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 400px auto;
    grid-template-areas: "sucursalCentro ubicacionesImagen2" "tabla2 ubicacionesMapa2";
    margin-top: 40px;
    margin-bottom: 100px; }
  .sucursalCentro {
    background-color: #533e2d; }
  .sucursalTituloC h2 {
    font-size: 55px; }
  .sucursalTituloC p {
    font-size: 22px; }
  .ubicacionesImagen2 {
    background-image: url(../imagenes/ubicaciones-img-2.jpg);
    background-position: center; }
  .tabla2 h2 {
    margin: 10px 0;
    color: #533e2d;
    font-weight: 600; }
  .tabla2 table {
    width: 90%; }
  .tabla2 th {
    font-size: 23px;
    margin: 20px 0; }
  .tabla2 td {
    font-size: 20px;
    margin: 30px 0; }
  .ubicacionesGrid3 {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 400px auto;
    grid-template-areas: "sucursalSur ubicacionesImagen3" "tabla3 ubicacionesMapa3";
    margin-top: 40px;
    margin-bottom: 100px; }
  .sucursalSur {
    background-color: #533e2d; }
  .sucursalTituloC h2 {
    font-size: 55px; }
  .sucursalTituloC p {
    font-size: 22px; }
  .ubicacionesImagen3 {
    background-image: url(../imagenes/ubicaciones-img-3.jpg);
    background-position: center; }
  .tabla3 h2 {
    margin: 10px 0;
    color: #533e2d;
    font-weight: 600; }
  .tabla3 table {
    width: 90%; }
  .tabla3 th {
    font-size: 23px;
    margin: 20px 0; }
  .tabla3 td {
    font-size: 20px;
    margin: 30px 0; } }

/* QUERY PARA PANTALLAS GRANDES */
@media screen and (min-width: 1200px) {
  .ubicacionesCabecera {
    height: 400px; }
  .ubicacionesTitulo {
    font-size: 60px;
    margin: 20px 0; }
  .ubicacionesGrid1 {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 400px auto;
    grid-template-areas: "sucursalNorte ubicacionesImagen1" "tabla1 ubicacionesMapa1";
    margin-top: 3px;
    margin-bottom: 100px; }
  .sucursalNorte {
    background-color: #533e2d; }
  .sucursalTituloC h2 {
    font-size: 55px; }
  .sucursalTituloC p {
    font-size: 20px; }
  .ubicacionesImagen1 {
    background-image: url(../imagenes/ubicaciones-img-1.jpg);
    background-position: center; }
  .tabla1 h2 {
    margin: 10px 0;
    color: #533e2d;
    font-weight: 600; }
  .tabla1 table {
    width: 90%; }
  .tabla1 th {
    font-size: 23px;
    margin: 20px 0; }
  .tabla1 td {
    font-size: 20px;
    margin: 30px 0; }
  .ubicacionesGrid2 {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 400px auto;
    grid-template-areas: "sucursalCentro ubicacionesImagen2" "tabla2 ubicacionesMapa2";
    margin-top: 40px;
    margin-bottom: 100px; }
  .sucursalCentro {
    background-color: #533e2d; }
  .sucursalTituloC h2 {
    font-size: 55px; }
  .sucursalTituloC p {
    font-size: 20px; }
  .ubicacionesImagen2 {
    background-image: url(../imagenes/ubicaciones-img-2.jpg);
    background-position: center; }
  .tabla2 h2 {
    margin: 10px 0;
    color: #533e2d;
    font-weight: 600; }
  .tabla2 table {
    width: 90%; }
  .tabla2 th {
    font-size: 23px;
    margin: 20px 0; }
  .tabla2 td {
    font-size: 20px;
    margin: 30px 0; }
  .ubicacionesGrid3 {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 400px auto;
    grid-template-areas: "sucursalSur ubicacionesImagen3" "tabla3 ubicacionesMapa3";
    margin-top: 40px;
    margin-bottom: 100px; }
  .sucursalSur {
    background-color: #533e2d; }
  .sucursalTituloC h2 {
    font-size: 55px; }
  .sucursalTituloC p {
    font-size: 22px; }
  .ubicacionesImagen3 {
    background-image: url(../imagenes/ubicaciones-img-3.jpg);
    background-position: center; }
  .tabla3 h2 {
    margin: 10px 0;
    color: #533e2d;
    font-weight: 600; }
  .tabla3 table {
    width: 90%; }
  .tabla3 th {
    font-size: 23px;
    margin: 20px 0; }
  .tabla3 td {
    font-size: 20px;
    margin: 30px 0; } }

.contactoCabecera {
  background-image: url(../imagenes/contacto-head.jpg);
  margin-top: 80px; }

.contactoText {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.contactoTitulo {
  text-align: center;
  margin: 15px 0; }

.contactoSubtituloC {
  margin: 50px 10px 10px 10px; }

.contactoSubtitulo {
  text-align: center; }

.contactoFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#contactForm {
  margin: 100px 0 100px 0; }

.form-control {
  font-family: 'Montserrat';
  border-radius: 20px;
  background-color: #fff8f1;
  color: #79d1cd;
  font-weight: 600;
  border: 3px solid;
  border-color: #79d1cd; }

.form-label {
  font-family: 'Montserrat'; }

.botonContacto {
  background-color: #79d1cd;
  border-radius: 15px;
  color: #533e2d; }
  .botonContacto:hover {
    background-color: #533e2d;
    color: #fff8f1; }

/* QUERY PARA MOVILES */
@media screen and (min-width: 320px) and (max-width: 599px) {
  .contactoCabecera {
    height: 200px; }
  .contactoTitulo {
    font-size: 38px;
    margin: 20px 0; }
  .contactoSubtitulo {
    font-size: 27px; }
  .form-label {
    font-size: 20px; } }

/* QUERY PARA TABLETAS PEQUEÑAS */
@media screen and (min-width: 600px) and (max-width: 767px) {
  .contactoCabecera {
    height: 200px; }
  .contactoTitulo {
    font-size: 45px;
    margin: 20px 0; }
  .contactoSubtitulo {
    font-size: 27px; }
  .form-label {
    font-size: 20px; } }

/* QUERY PARA TABLETAS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contactoCabecera {
    height: 300px; }
  .contactoTitulo {
    font-size: 50px;
    margin: 20px 0; }
  .contactoSubtitulo {
    font-size: 32px; }
  .form-label {
    font-size: 23px; } }

/* QUERY PARA NOTEBOOKS */
@media screen and (min-width: 1024px) and (max-width: 1999px) {
  .contactoCabecera {
    height: 400px; }
  .contactoTitulo {
    font-size: 60px;
    margin: 20px 0; }
  .contactoSubtitulo {
    font-size: 34px; }
  .form-label {
    font-size: 25px; } }

/* QUERY PARA PANTALLAS GRANDES */
@media screen and (min-width: 1200px) {
  .contactoCabecera {
    height: 400px; }
  .contactoTitulo {
    font-size: 60px;
    margin: 20px 0; }
  .contactoSubtitulo {
    font-size: 34px; }
  .form-label {
    font-size: 25px; } }

header {
  grid-area: header;
  background-color: #79d1cd;
  height: auto; }

body {
  background-color: #fff8f1; }

main {
  grid-area: main;
  height: auto; }

footer {
  grid-area: footer;
  background-color: #79d1cd; }

.loQuiero {
  font-family: 'Montserrat';
  border-radius: 25px;
  background-color: #fff8f1;
  color: #533e2d;
  border: 3px solid #533e2d;
  font-weight: 600;
  padding: 15px; }
  .loQuiero:hover {
    background-color: #533e2d;
    color: #fff8f1;
    border: 3px solid #533e2d;
    transition: .2s; }

.botonGeneral {
  font-family: 'Montserrat';
  border-radius: 25px;
  background-color: #fff8f1;
  color: #533e2d;
  border: 3px solid #533e2d;
  font-weight: 600;
  padding: 15px; }
  .botonGeneral:hover {
    background-color: #533e2d;
    color: #fff8f1;
    border: 3px solid #fff8f1;
    transition: .2s; }

.whatsapp {
  width: 60px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 10px 15px 0; }
