// GENERALES CONOCENOS
.conocenosP {
    @include parrafos-conocenos;
    grid-area: conocenosP; 
}

.conocenosImage1 {
    grid-area: conocenosImage1;
    @include imagen-conocenos-contenedor;
}

.conocenosImage2 {
    grid-area: conocenosImage2;
    @include imagen-conocenos-contenedor;
}

.visitanosContainer {
    background-image: $backgroundVisitanos;
    @extend .cajas-imagen-fondo;
    height: 500px;
    margin-top: 80px;
    color: $colorTercero;
    .visitanos {
        @extend .cajas-texto-fondo;  
        h1 {
            margin: 30px;
        }
    }
}

.cabeceraConocenos {
    background-image: $backgroundConocenos;
    @extend .cajas-imagen-fondo;
    height: 400px;
    margin: 80px 0 30px 0;
    h1 {
        color: $colorTercero;
        text-align: center;
    }
}

/* QUERY PARA MOVILES */
@media screen and (min-width: 320px) and (max-width: 599px) {
    .conocenosGrid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "conocenosImage1"
                             "conocenosP" 
                             "conocenosP"
                             "conocenosImage2";
    }

    .cabeceraConocenos {
        height: 35vh;
        h1 {
            @include titulos-sizes (35px, 10px);
        }
    }

    .conocenosImg {
        @include imagen-conocenos-ancho (300px, 10px, 0px);
    }

    .conocenosP {
        @include parrafos-conocenos;
        padding: 20px 20px;
    }

    .visitanos {  
        h1 {
            @include titulos-sizes (35px, 30px)
        }
    }
}

/* QUERY PARA TABLETAS PEQUEÑAS */
@media screen and (min-width: 600px) and (max-width: 767px) {
    .conocenosGrid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "conocenosImage1"
                             "conocenosP" 
                             "conocenosP"
                             "conocenosImage2";
    }

    .cabeceraConocenos {
        height: 35vh;
        h1 {
            @include titulos-sizes (45px, 10px);
        }
    }

    .conocenosImg {
        @include imagen-conocenos-ancho (400px, 10px, 0px);
    }

    .conocenosP {
        @include parrafos-conocenos;
        padding: 40px 40px;
    }

    .visitanos {  
        h1 {
            @include titulos-sizes (45px, 30px)
        }
    }
}

/* QUERY PARA TABLETAS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .conocenosGrid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "conocenosImage1"
                             "conocenosP" 
                             "conocenosP"
                             "conocenosImage2";
    }

    .cabeceraConocenos {
        height: 35vh;
        h1 {
            @include titulos-sizes (45px, 10px);
        }
    }

    .conocenosImg {
        @include imagen-conocenos-ancho (480px, 10px, 0px);
    }

    .conocenosP {
        @include parrafos-conocenos;
        padding: 50px 50px;
    }

    .visitanos {  
        h1 {
            @include titulos-sizes (45px, 30px)
        }
    }
}

/* QUERY PARA NOTEBOOKS */
@media screen and (min-width: 1024px) and (max-width: 1999px) {
    .conocenosGrid {
        height: auto;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: auto auto;
        grid-template-areas: "conocenosP conocenosImage1"
                             "conocenosP conocenosImage2";
    }

    .cabeceraConocenos {
        height: 45vh;
        h1 {
            @include titulos-sizes (55px, 10px);
        }
    }

    .conocenosImg {
        @include imagen-conocenos-ancho (480px, 10px, 40px 0);
    }

    .conocenosP {
        @include parrafos-conocenos;
        padding: 50px 50px;
    }

    .visitanos {  
        h1 {
            @include titulos-sizes (55px, 30px)
        }
    }
}

/* QUERY PARA PANTALLAS GRANDES */
@media screen and (min-width: 1200px) {
    .conocenosGrid {
        height: auto;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: auto auto;
        grid-template-areas: "conocenosP conocenosImage1"
                             "conocenosP conocenosImage2";
    }

    .cabeceraConocenos {
        height: 400px;
        h1 {
            @include titulos-sizes (60px, 10px);
        }
    }

    .conocenosImg {
        @include imagen-conocenos-ancho (480px, 10px, 40px 0);
    }

    .conocenosP {
        @include parrafos-conocenos;
        padding: 50px 50px;
    }

    .visitanos {  
        h1 {
            @include titulos-sizes (60px, 30px)
        }
    }
}