
// ESTILOS GENERALES HERO
.heroMain {
    @extend .cajas-imagen-fondo;
    background-image: $backgroundHero;
    background-position: top;
    height: 90vh;
    margin: 80px 0 0 0;
    &:before {
        @extend .fondo-oscuro;
    }  
}
.mainContainer {
    position: relative;
    color: $colorTercero;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    margin: 10%;
}

.mainTittle {
    padding-bottom: 10px 0;
    font-weight: 600;
    color: $colorTercero;
}

.mainText {
    color: $colorTercero;
    font-weight: 400;
}

// GENERALES MAS VENDIDOS
.masVendidos {
    margin-top: 100px;
    margin-bottom: 50px;
}

.d-block {
    border-radius: 15px;
}

// GENERALES PRODUCT
.productContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 30px 30px;
    a {
        display: flex;
        justify-content: center;
    }
}

.productText {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 100px 0 30px 0;
}

.imageContainer {
    overflow: hidden;
    border-radius: 13px;
}

.imageProduct {
    @include imagen-productos; 
}

.tittleProduct {
    margin: 20px 0;
    text-align: center;
}

.textProduct {
    text-align: justify;
    padding: 0 30px;
    font-size: 18px;
    margin: 15px 0;
}

.buttonContainer {
    overflow:visible;
    a {
        text-decoration: none;
    }
}

.loQuiero {
    margin: 20px 0;
}

// GENERALES VER MAS
.verMas {
    @extend .cajas-imagen-fondo;
    background-image: $backgroundVerMas;
    height: 600px;
    margin-top: 40px;
    &:before {
        @extend .fondo-oscuro;
    }
}

.textMas {
    @extend .cajas-texto-fondo;
    h2 {
        @extend .titulo-fondo-oscuro;
    }
    button {
        position: relative;
    }
}

// QUERY PARA MOVILES
@media screen and (min-width: 320px) and (max-width: 599px) {
    /* ESTILOS GENERALES */
    .bodyIndex {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "header"
                             "main"
                             "footer";
    }

    /*HERO SECTION*/
    .mainContainer {
        @include flex-column-center;
    }   

    .mainTittle {
        @include titulos-sizes (42px, 20px 0);
    }

    .mainSubtittle {
        @include titulos-sizes (43px, 10px 0);
    }

    .mainText {
        @include titulos-sizes (25px, 10px 0);
    }

    .mainButton {
        @include titulos-sizes (16px, 10px 0);
    }

    /* GENERALES MAS VENDIDOS */
    .masVendidosContainer {
        text-align: center;
    }

    .containerCarousel {
        margin-top: 40px;
    }
    .productP {
        font-size: 25px;
        margin: 20px 0;
    }

    // PRODUCTOS
    .masTittle, .productTittle {
        @include titulos-sizes (40px, 10px 0);
    }

    .masSubtittle, .productSubtittle {
        @include titulos-sizes (27px, 30px 0);
    }

    // VER MAS 
    .tittleMas {
        @include titulos-sizes (60px, 20px 0);
    }
}

/* QUERY PARA TABLETAS PEQUEÑAS */
@media screen and (min-width: 600px) and (max-width: 767px) {
    /* ESTILOS GENERALES */
    .bodyIndex {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "header header"
                             "main main"
                             "footer footer";
    }

    /*HERO SECTION*/
    .mainContainer {
        @include flex-column-center;
    }   

    .mainTittle {
        @include titulos-sizes (45px, 20px 0);
    }

    .mainSubtittle {
        @include titulos-sizes (55px, 10px 0);
    }

    .mainText {
        @include titulos-sizes (25px, 10px 0);
    }

    .mainButton {
        @include titulos-sizes (18px, 10px 0);
    }

    /* GENERALES MAS VENDIDOS */
    .masVendidosContainer {
        text-align: center;
    }

    .containerCarousel {
        margin-top: 40px;
    }
    .productP {
    font-size: 25px;
    margin: 20px 0;
    }

    // PRODUCTOS
    .masTittle, .productTittle {
        @include titulos-sizes (50px, 10px 0);
    }

    .masSubtittle, .productSubtittle {
        @include titulos-sizes (37px, 30px 0);
    }

    // VER MAS 
    .tittleMas {
        @include titulos-sizes (60px, 20px 0);
    }
}

/* QUERY PARA TABLETAS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* ESTILOS GENERALES */
    .bodyIndex {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "header header"
                             "main main"
                             "footer footer";
    }

    /*HERO SECTION*/
    .mainContainer {
        @include flex-column-center;
    }   

    .mainTittle {
        @include titulos-sizes (55px, 20px 0);
    }

    .mainSubtittle {
        @include titulos-sizes (65px, 10px 0);
    }

    .mainText {
        @include titulos-sizes (30px, 10px 0);
    }

    .mainButton {
        @include titulos-sizes (18px, 10px 0);
    }

    /* GENERALES MAS VENDIDOS */
    .masVendidosContainer {
        text-align: center;
    }

    .containerCarousel {
        margin-top: 40px;
    }
    .productP {
    font-size: 25px;
    margin: 20px 0;
    }

    // PRODUCTOS
    .masTittle, .productTittle {
        @include titulos-sizes (60px, 10px 0);
    }

    .masSubtittle, .productSubtittle {
        @include titulos-sizes (47px, 30px 0);
    }

    // VER MAS 
    .tittleMas {
        @include titulos-sizes (60px, 20px 0);
    }
}

/* QUERY PARA NOTEBOOKS */
@media screen and (min-width: 1024px) and (max-width: 1999px) {
    /* ESTILOS GENERALES */
    .bodyIndex {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: auto auto auto;
       grid-template-areas: "header header header"
                            "main main main"
                            "footer footer footer";
   }

   /*HERO SECTION*/
    .mainTittle {
        @include titulos-sizes (60px, 20px 0);
    }

    .mainSubtittle {
        @include titulos-sizes (70px, 10px 0);
    }

    .mainText {
        @include titulos-sizes (30px, 10px 0);
    }

    .mainButton {
        @include titulos-sizes (28px, 10px 0);
    }
   

    .mainButton {
        @include titulos-sizes (18px, 10px 0);
    }
    
   /* PRODUCT SECTION */
   .imageProduct:hover {
       transform: scale(1.3);
   }

   .loQuiero:hover {
       transform: scale(1.2);
   }
   .masTittle, .productTittle {
        @include titulos-sizes (60px, 10px 0);
    }

    .masSubtittle, .productSubtittle {
        @include titulos-sizes (47px, 30px 0);
    }

    .textProduct {
        @include titulos-sizes (18px, 10px 0);
    }

    // VER MAS 
    .tittleMas {
        @include titulos-sizes (60px, 20px 0);
    }
}

/* QUERY PARA PANTALLAS GRANDES */
@media screen and (min-width: 1200px) {
    /* ESTILOS GENERALES */
    .bodyIndex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "header header header"
                             "main main main"
                             "footer footer footer";
    }

     /*HERO SECTION*/
     .mainTittle {
        @include titulos-sizes (60px, 20px 0);
    }

    .mainSubtittle {
        @include titulos-sizes (70px, 10px 0);
    }

    .mainText {
        @include titulos-sizes (30px, 10px 0);
    }

    .mainButton {
        @include titulos-sizes (28px, 10px 0);
    }
   
    .mainButton {
        @include titulos-sizes (18px, 10px 0);
    }      

    /* PRODUCT SECTION */
   .imageProduct:hover {
    transform: scale(1.3);
    }

    .loQuiero:hover {
        transform: scale(1.2);
    }

    .masTittle, .productTittle {
        @include titulos-sizes (60px, 10px 0);
    }

    .masSubtittle, .productSubtittle {
        @include titulos-sizes (47px, 30px 0);
    }

    .textProduct {
        @include titulos-sizes (18px, 10px 0);
    }

    // VER MAS 
    .tittleMas {
        @include titulos-sizes (60px, 20px 0);
    }
}