// GENERALES LAYOUT
header {
    grid-area: header;
    background-color: $colorPrincipal;
    height: auto;
}

body {
    background-color: $colorCuarto;
}

main {
    grid-area: main;
    height: auto;
}

footer {
    grid-area: footer;
    background-color: $colorPrincipal;
}