/* --------------------VARIABLES GENERALES------------------- */
// VARRIABLES DE FUENTE Y COLOR
$fuentePrincipal: 'Rubik';
$h2Weigth: 400;
$h3Weigth: 300;

h1, h2, h3, p {
    font-family: $fuentePrincipal;
}

h2 {
    font-weight: $h2Weigth;
}

h3 {
    font-weight: $h3Weigth;
}


// VARIABLES COLORES
$colorPrincipal: #79d1cd;
$colorSecundario: #533e2d;
$colorTercero: #f6f6f6;
$colorCuarto: rgb(255, 248, 241);

// VARIABLES LOGO
$sizeLogo: 70px;

// VARIABLES HERO MAIN
$backgroundHero: url(../imagenes/hero0.svg);

// VARIABLES VER MAS
$backgroundVerMas: url('../imagenes/ver-mas-background.jpg');

// TITULOS PRINCIPALES
.tittles {
    margin: 20px 0;
    font-weight: 400;
}
.subtittles {
    margin: 20px 0;
    font-weight: 300;
}

// CONTENEDORES GENERALES DE TEXTO CENTRADO
.cajas-texto-fondo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

// CONTENEDORES DE IMAGEN DE FONDO PARA TITULOS
.cajas-imagen-fondo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.fondo-oscuro {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.titulo-fondo-oscuro {
    color: $colorTercero;
    position: relative;
    text-align: center;
}

/* -----------------------MIXIN GENERALES--------------------- */
// MIXIN SIZES
@mixin titulos-sizes ($font-size, $margin) {
    font-size: $font-size;
    margin: $margin;
}

// MIXIN CONTENEDORES
@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

//MIXIN DE MENU 
@mixin imagen-productos {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease;
}


/* -----------------VARIABLES CONOCENOS-------------------------- */
$backgroundConocenos: url("../imagenes/conocenos-head.jpg");
$backgroundVisitanos: url("../imagenes/visitanos.jpg") ;

// PARRAFOS
@mixin parrafos-conocenos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    margin: 0 15px;
}

@mixin letra-parrafos ($size, $padding) {
    font-size: $size;
    padding: $padding;
}

// IMAGENES CONOCENOS
@mixin imagen-conocenos-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin imagen-conocenos-ancho ($width, $border, $margin) {
    width: $width;
    border-radius: $border;
    margin: $margin;
}

/* ---------------------------VARIABLES UBICACIONES-------------------------- */
@mixin ubicaciones-titulo-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $colorCuarto;
}


@mixin ubicaciones-imagen {
    background-size: cover;
}

@mixin ubicaciones-fondo-oscuro {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 480px;
    background-color: #161616c7;
}

@mixin ubicaciones-tabla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $colorPrincipal;
    margin: 20px;
    height: 500px;
    border-radius: 10px;
    table {
        color: $colorSecundario;
    }
}

@mixin ubicacionesMapas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 500px;
    border: 4px solid $colorSecundario;
    border-radius: 10px;
    iframe {
        border-radius: 10px;
    }
}