
// VARRIABLES DE FUENTE Y COLOR
$fuentePrincipal: 'Rubik';
$h2Weigth: 400;
$h3Weigth: 300;


// VARIABLES COLORES
$colorPrincipal: #79d1cd;
$colorSecundario: #533e2d; 
$colorTercero: #f6f6f6;
$colorCuarto: rgb(255, 248, 241);

// VARIABLES LOGO
$sizeLogo: 70px;

// VARIABLES HERO MAIN
$backgroundHero: url(../imagenes/heroback4.png);

// VARIABLES VER MAS
$backgroundVerMas: url('../imagenes/pexels-nappy-936000mob.png');